# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

target/classes/beans.xml
*.class
target/classes/hibernate.cfg.xml
target/classes/log4j.properties
target/classes/messages.properties
target/classes/struts-customer.xml
target/classes/struts-invoice.xml
target/classes/struts-order.xml
target/classes/struts-product.xml
target/classes/struts-product.xml
target/classes/struts-product.xml
target/classes/struts-product.xml
target/classes/struts-productitem.xml
target/classes/struts-productrateplan.xml
target/classes/struts.xml
target/classes/struts-productrateplan.xml
target/classes/struts-product.xml
target/classes/struts-productitem.xml
target/classes/struts-productrateplan.xml
/target
/.classpath
