<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!-- This bean has been referred fron struts.xml file; So type it correctly; -->
    <!-- Make scope prototype; This is really important. -->
    <bean name="editEmployeeAction" class="com.bps.controller.EditEmployeeAction" scope="prototype">
	     <property name="employeeManager">
	        <ref bean="employeeManager"/>
	     </property>
    </bean>
    
    <!-- These beans are injected automatically by spring context -->
    <bean id="employeeDAO" class="com.bps.dao.EmployeeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="employeeManager" class="com.bps.service.EmployeeManagerImpl">
        <property name="employeeDAO" ref="employeeDAO"/>
    </bean>
    
    <!-- Customer -->
    <bean name="editCustomerAction" class="com.bps.controller.EditCustomerAction" scope="prototype">
	     <property name="customerManager">
	        <ref bean="customerManager"/>
	     </property>
    </bean>
    
    <bean id="customerManager" class="com.bps.service.CustomerManagerImpl">
        <property name="customerDAO" ref="customerDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="customerDAO" class="com.bps.dao.CustomerDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
     <!-- Order -->
    <bean name="editOrderAction" class="com.bps.controller.EditOrderAction" scope="prototype">
	     <property name="orderManager">
	        <ref bean="orderManager"/>
	     </property>
	      <property name="orderplanManager">
	        <ref bean="orderplanManager"/>
	     </property>
	     <property name="orderitemManager">
	        <ref bean="orderitemManager"/>
	     </property>
    </bean>
    
    <bean id="orderManager" class="com.bps.service.OrderManagerImpl">
        <property name="orderDAO" ref="orderDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="orderDAO" class="com.bps.dao.OrderDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="orderplanManager" class="com.bps.service.OrderPlanManagerImpl">
        <property name="orderplanDAO" ref="orderplanDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="orderplanDAO" class="com.bps.dao.OrderPlanDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="orderitemManager" class="com.bps.service.OrderItemManagerImpl">
        <property name="orderitemDAO" ref="orderitemDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="orderitemDAO" class="com.bps.dao.OrderItemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- Product -->
    <bean name="editProductAction" class="com.bps.controller.EditProductAction" scope="prototype">
	     <property name="productManager">
	        <ref bean="productManager"/>
	     </property>
    </bean>
    
    <bean id="productManager" class="com.bps.service.ProductManagerImpl">
        <property name="productDAO" ref="productDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="productDAO" class="com.bps.dao.ProductDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- ProductRatePlan -->
    <bean name="editProductRatePlanAction" class="com.bps.controller.EditProductRatePlanAction" scope="prototype">
	     <property name="productrateplanManager">
	        <ref bean="productrateplanManager"/>
	     </property>
    </bean>
    <bean id="productrateplanManager" class="com.bps.service.ProductRatePlanManagerImpl">
        <property name="productrateplanDAO" ref="productrateplanDAO"/>
    </bean>
    
    <!-- These beans are injected automatically by spring context -->
    <bean id="productrateplanDAO" class="com.bps.dao.ProductRatePlanDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- ProductItem -->
    <bean name="editProductItemAction" class="com.bps.controller.EditProductItemAction" scope="prototype">
	     <property name="productitemManager">
	        <ref bean="productitemManager"/>
	     </property>
    </bean>
    
    <bean id="productitemManager" class="com.bps.service.ProductItemManagerImpl">
        <property name="productitemDAO" ref="productitemDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="productitemDAO" class="com.bps.dao.ProductItemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- Invoice -->
    <bean name="editInvoiceAction" class="com.bps.controller.EditInvoiceAction" scope="prototype">
	     <property name="invoiceManager">
	        <ref bean="invoiceManager"/>
	     </property>
    </bean>
    
    <bean id="invoiceManager" class="com.bps.service.InvoiceManagerImpl">
        <property name="invoiceDAO" ref="invoiceDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="invoiceDAO" class="com.bps.dao.InvoiceDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- InvoiceItem -->
    <bean name="editInvoiceItemAction" class="com.bps.controller.EditInvoiceItemAction" scope="prototype">
	     <property name="invoiceitemManager">
	        <ref bean="invoiceitemManager"/>
	     </property>
    </bean>
    
    <bean id="invoiceitemManager" class="com.bps.service.InvoiceItemManagerImpl">
        <property name="invoiceitemDAO" ref="invoiceitemDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context --> 
     <bean id="invoiceitemDAO" class="com.bps.dao.InvoiceItemDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- BillRun -->
    <bean name="editBillRunAction" class="com.bps.controller.EditBillRunAction" scope="prototype">
	     <property name="billrunManager">
	        <ref bean="billrunManager"/>
	     </property>
    </bean>
    
    <bean id="billrunManager" class="com.bps.service.BillRunManagerImpl">
        <property name="billrunDAO" ref="billrunDAO"/>
    </bean>
    
     <!-- These beans are injected automatically by spring context -->
    <bean id="billrunDAO" class="com.bps.dao.BillRunDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean class="com.bps.utils.SpringContextUtil"></bean>
    
    <!-- Configure jdbc.properties -->
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/jdbc.properties" />
 
    <!-- Data Source configuration -->
    <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
        p:password="${jdbc.password}" />
 
	<!-- Configure hibernate session factory -->    
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    <!-- Run SQL queries in transactions -->
    <tx:annotation-driven />
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
</beans>